<app-page-header [heading]="'Curso'" [icon]="'fa fa-fw fa-edit'"></app-page-header>
<div class="pull-right">
    <button class="btn btn-primary" routerLink="/curso" (click)="open('registrar',0,content)"><b>+</b> Registrar Curso </button>                                    
</div>
<br>
<br>
<div class="container-fluid">
    <div class="row">
            <div class="col col-xl-12 col-lg-12">
                    <div class="card mb-3">
                    <div class="card-block table-responsive">
                        <br><br>
                        <!-- <div *ngIf="cargando" class="text-center" style="padding-top: 60px;">
                                <img src="../../../assets/spinner.gif">
                        </div> -->
                        <div style="text-align:center;">
                            Busqueda: <input type="text" pInputText placeholder="Filtro de Busqueda..." #gb pInputText >
                            <a  class="search-icon">
                                <i class="fa fa-search" id="myimage"></i>
                            </a>
</div>
<br>
                        <!--<div *ngIf="resultados">  -->
                            <p-dataTable  [tableStyle]="{'table-layout':'auto'}"  [value]="cursos" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [pageLinks]="3" [responsive]="true" [style]="{'width': '900'}" [globalFilter]="gb" #dt>
                               <!-- <p-column [style]="{'width':'50px'}" field="idUsuario" header="ID" ></p-column>-->
                            <p-column  [style]="{'width':'30%'}" field="inicio" header="Fecha de Inicio"></p-column>
                            <p-column  [style]="{'width':'30%'}" field="fin" header="Fecha de Fin"></p-column>
                            <p-column  [style]="{'width':'100'}"  header="Estatus">        
                            <ng-template let-i="rowIndex" pTemplate="body">
                                    <p-toggleButton onLabel="Activo" offLabel="Inactivo" [(ngModel)]="cursos[i].status" (click)="change(cursos[i].id,cursos[i].status)"> </p-toggleButton> 
                            </ng-template>-->
                           </p-column>                             
                           <p-column header="Acciones" [style]="{'width':'80'}" >        
                                <ng-template let-h="rowIndex" pTemplate="body">
                                    <button (click)="open('editar',cursos[h].id,content3)" type="button" class="btn btn-success" >
                                    Editar
                                    </button>
                                    <!-- <button (click)="open('eliminar',cars[h].idUsuario,content2)" type="button" class="btn btn-danger">
                                      Eliminar
                                      </button> -->
                                </ng-template>
                           </p-column> 
                          </p-dataTable>
                </div>
            </div>
        </div>
    </div>
</div>


<template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
    <h4 class="modal-title">Registro de curso</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('cerrar')">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
            <div class="row">
                    <div class="col-md-12">
                        <form [formGroup]="cursosForm" (ngSubmit)="onSubmit()" >
                            <div class="form-group">
                                <i class="fa fa-check-circle check" *ngIf="cursosForm.controls.inicio.valid"></i>
                                <i class="fa fa-exclamation-circle uncheck" *ngIf="cursosForm.controls.inicio.invalid && cursosForm.controls.inicio.touched"></i>                            
                              <label for="inicio">Fecha de Inicio</label>         
                              <input type="date" class="form-control" formControlName="inicio" id="inicio"  required>
                              <p class="alert alert-danger" *ngIf="cursosForm.controls.inicio.invalid && cursosForm.controls.inicio.touched">El campo "inicio" es obligatorio.</p>                                                
                            </div>
                            <div class="form-group">
                                <i class="fa fa-check-circle check" *ngIf="cursosForm.controls.fin.valid"></i>
                                <i class="fa fa-exclamation-circle uncheck" *ngIf="cursosForm.controls.fin.invalid && cursosForm.controls.fin.touched"></i>                            
                              <label for="app">Fecha de Finalización</label>
                              <input type="date" class="form-control" formControlName="fin" id="app" required>
                              <p class="alert alert-danger" *ngIf="cursosForm.controls.fin.invalid && cursosForm.controls.fin.touched">El campo "fin" es obligatorio.</p>                                                
                            </div>
                            <!-- <div class="form-group">
                                <i class="fa fa-check-circle check" *ngIf="cursosForm.controls.status.valid"></i>
                                <i class="fa fa-exclamation-circle uncheck" *ngIf="cursosForm.controls.status.invalid && cursosForm.controls.status.touched"></i>                            
                              <label for="status">Estatus</label>         
                              <select class="form-control" id="status" formControlName="status">
                                    <option value="A" >Activo</option>
                                    <option value="B" >Inactivo</option>

                            </select>       
                            <p class="alert alert-danger" *ngIf="cursosForm.controls.status.invalid && cursosForm.controls.status.touched">El campo "status" es obligatorio.</p>                                                
                        </div> -->
                            <br>
                            <br>
                            <p class="alert alert-danger" *ngIf="!cursosForm.valid">Por favor complete todos los campos</p>
                            <div class="modal-footer">
                                    <button type="button" class="btn btn-success" [disabled]="!cursosForm.valid" (click)="c('Aceptar')" >Añadir curso</button>
                                    <a class="btn btn-danger" routerLink="/curso" (click)="c('Cancelar')">Cancelar</a>
    
                            </div>           
                      </form>
                      </div>
                  </div>
    </div>
    </template>


    <!-- <template #content2 let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Advertencia</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('cerrar')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>¿Realmente desea dar de baja este Usuario?&hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="c('Cancelar')">Cancelar</button>
          <button type="button" class="btn btn-secondary" (click)="c('Aceptar')">Aceptar</button>          
        </div>
      </template>    -->
    
    
    
      <template #content3 let-c="close" let-d="dismiss">
        <div class="modal-header">
        <h4 class="modal-title">Edición de cursos</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('cerrar')">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
                <div class="row">
                        <div class="col-md-12">
                            <form [formGroup]="cursosForm" (ngSubmit)="onSubmit()" >
                                <div class="form-group">
                                    <i class="fa fa-check-circle check" *ngIf="cursosForm.controls.inicio.valid"></i>
                                    <i class="fa fa-exclamation-circle uncheck" *ngIf="cursosForm.controls.inicio.invalid && cursosForm.controls.inicio.touched"></i>                            
                                  <label for="inicio">Fecha de Inicio</label>         
                                  <input type="date" class="form-control" formControlName="inicio" id="inicio"  required>
                                  <p class="alert alert-danger" *ngIf="cursosForm.controls.inicio.invalid && cursosForm.controls.inicio.touched">El campo "inicio" es obligatorio.</p>                                                
                                </div>
                                <div class="form-group">
                                    <i class="fa fa-check-circle check" *ngIf="cursosForm.controls.fin.valid"></i>
                                    <i class="fa fa-exclamation-circle uncheck" *ngIf="cursosForm.controls.fin.invalid && cursosForm.controls.fin.touched"></i>                            
                                  <label for="app">Fecha de Finalización</label>
                                  <input type="date" class="form-control" formControlName="fin" id="app" required>
                                  <p class="alert alert-danger" *ngIf="cursosForm.controls.fin.invalid && cursosForm.controls.fin.touched">El campo "fin" es obligatorio.</p>                                                
                                </div>
                                <div class="form-group">
                                    <i class="fa fa-check-circle check" *ngIf="cursosForm.controls.status.valid"></i>
                                    <i class="fa fa-exclamation-circle uncheck" *ngIf="cursosForm.controls.status.invalid && cursosForm.controls.status.touched"></i>                            
                                  <label for="status">Estatus</label>         
                                  <select class="form-control" id="status" formControlName="status">
                                        <option value="A" >Activo</option>
                                        <option value="B" >Inactivo</option>
    
                                </select>       
                                <p class="alert alert-danger" *ngIf="cursosForm.controls.status.invalid && cursosForm.controls.status.touched">El campo "status" es obligatorio.</p>                                                
                            </div>
                                <br>
                                <br>
                                <p class="alert alert-danger" *ngIf="!cursosForm.valid">Por favor complete todos los campos</p>
                                <div class="modal-footer">
                                        <button type="button" class="btn btn-success" [disabled]="!cursosForm.valid" (click)="c('Aceptar')" >Guardar cambios</button>
                                        <a class="btn btn-danger" routerLink="/curso" (click)="c('Cancelar')">Cancelar</a>
        
                                </div>           
                          </form>
                          </div>
                      </div>
        </div>
</template>