<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
       <!--
        <button class="navbar-toggler collapsed" (click)="toggleSidebar()"  type="button" style="border-color:#FFFF;" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <div class="barra" onclick="myFunction(this)">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
            </div>
            <script>
                    function myFunction(x) {
                        x.classList.toggle("change");
                    }
            </script>
        </button>
    -->
        <a class="navbar-brand" href="javascript:void(0)">UAS-Ingenieria de Software   </a>
        <div class="collapse navbar-collapse">
            <!--<form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </form>-->
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
                <li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-bell"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0)" class="dropdown-item">Notificaciones <span class="badge badge-info">6</span></a>
                        <a href="javascript:void(0)" class="dropdown-item">Mensajes <span class="badge badge-info"> 2</span></a>
                    </ul>
                </li>
                
                <li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <i class="fa fa-user"></i> {{this.usuario}} <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-fw fa-envelope"></i> Bandeja de Entrada</a>
                        <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()"><i class="fa fa-fw fa-power-off"></i> Cerrar Sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
