<div class="container">
    <app-page-header [heading]="'Maestros'" [icon]="'fa fa-fw fa-edit'"></app-page-header>
    <div class="pull-right">
        <button class="btn btn-primary" routerLink="/maestro" (click)="open('registrar',0,content)"><b>+</b> Registrar Maestro </button>                                    
    </div>
    <br>
    <br>
    <div class="container-fluid">
        <div class="row">
                <div class="col col-xl-12 col-lg-12">
                        <div class="card mb-3">
                        <div class="card-block table-responsive">
                            <br><br>
                            <!-- <div *ngIf="cargando" class="text-center" style="padding-top: 60px;">
                                    <img src="../../../assets/spinner.gif">
                            </div> -->
                            <div style="text-align:center;">
                                Busqueda: <input type="text" pInputText placeholder="Filtro de Busqueda..." #gb pInputText >
                                <a  class="search-icon">
                                    <i class="fa fa-search" id="myimage"></i>
                                </a>
    </div>
    <br>
                            <!--<div *ngIf="resultados">  -->
                                <p-dataTable  [tableStyle]="{'table-layout':'auto'}"  [value]="maestros" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [pageLinks]="3" [responsive]="true" [style]="{'width': '900'}" [globalFilter]="gb" #dt>
                                <!-- <p-column [style]="{'width':'50px'}" field="idUsuario" header="ID" ></p-column>-->
                                <p-column  [style]="{'width':'30%'}" field="nombre" header="Nombre"></p-column>
                                <p-column  [style]="{'width':'30%'}" field="apellido" header="Apellido"></p-column>
                                <p-column  [style]="{'width':'100'}"  header="Estatus">        
                                <ng-template let-i="rowIndex" pTemplate="body">
                                        <p-toggleButton onLabel="Activo" offLabel="Inactivo" [(ngModel)]="maestros[i].status" (click)="change(maestros[i].id,maestros[i].status)"> </p-toggleButton> 
                                </ng-template>-->
                            </p-column>                             
                            <p-column header="Acciones" [style]="{'width':'80'}" >        
                                    <ng-template let-h="rowIndex" pTemplate="body">
                                        <button (click)="open('editar',maestros[h],content3)" type="button" class="btn btn-success" >
                                        Editar
                                        </button>
                                        <!-- <button (click)="open('eliminar',cars[h].idUsuario,content2)" type="button" class="btn btn-danger">
                                        Eliminar
                                        </button> -->
                                    </ng-template>
                            </p-column> 
                            </p-dataTable>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
        <h4 class="modal-title">Registro de Maestro</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('cerrar')">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
                <div class="row">
                        <div class="col-md-12">
                            <form [formGroup]="maestrosForm" (ngSubmit)="onSubmit()" >
                                <div class="form-group">
                                        <i class="fa fa-check-circle check" *ngIf="maestrosForm.controls.Nombre.valid"></i>
                                        <i class="fa fa-exclamation-circle uncheck" *ngIf="maestrosForm.controls.Nombre.invalid && maestrosForm.controls.Nombre.touched"></i>                            
                                    <label for="nombre">Nombre(s)</label>         
                                    <input type="text" class="form-control" formControlName="Nombre" id="nombre"  required>
                                    <p class="alert alert-danger" *ngIf="maestrosForm.controls.Nombre.invalid && maestrosForm.controls.Nombre.touched">El campo "Nombre" es obligatorio.</p>                                                
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-check-circle check" *ngIf="maestrosForm.controls.Apellido.valid"></i>
                                        <i class="fa fa-exclamation-circle uncheck" *ngIf="maestrosForm.controls.Apellido.invalid && maestrosForm.controls.Apellido.touched"></i>                            
                                    <label for="app">Apellido(s)</label>
                                    <input type="text" class="form-control" formControlName="Apellido" id="app" required>
                                    <p class="alert alert-danger" *ngIf="maestrosForm.controls.Apellido.invalid && maestrosForm.controls.Apellido.touched">El campo "Apellido" es obligatorio.</p>                                                
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-check-circle check" *ngIf="maestrosForm.controls.id_grupo.valid"></i>
                                        <i class="fa fa-exclamation-circle uncheck" *ngIf="maestrosForm.controls.id_grupo.invalid && maestrosForm.controls.id_grupo.touched"></i>                                
                                    <label for="id_grupo">Grupo</label>      
                                    <select class="form-control" id="id_grupo" formControlName="id_grupo">
                                                    <option value="seleccione" disabled="disabled" selected="selected" hidden="hidden">Seleccione</option>
                                                    <option *ngFor="let item of grupos;" [value]="item.grupo"> {{item.grupo}}</option>
                                    </select>
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-check-circle check" *ngIf="maestrosForm.controls.id_materia.valid"></i>
                                        <i class="fa fa-exclamation-circle uncheck" *ngIf="maestrosForm.controls.id_materia.invalid && maestrosForm.controls.id_materia.touched"></i>                                
                                    <label for="id_materia">Materia</label>      
                                    <select class="form-control" id="id_materia" formControlName="id_materia">
                                                    <option value="seleccione" disabled="disabled" selected="selected" hidden="hidden">Seleccione</option>
                                                    <option *ngFor="let item of materias;" [value]="item.materia"> {{item.materia}}</option>
                                    </select>
                                    </div>
                                    
                                    <div class="form-group">
                                            <i class="fa fa-check-circle check" *ngIf="maestrosForm.controls.Telefono.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="maestrosForm.controls.Telefono.invalid && maestrosForm.controls.Telefono.touched"></i>                                
                                    <label for="Telefono">Telefono</label>
                                    <input type="number" class="form-control" formControlName="Telefono" id="Telefono" placeholder="Ej. 6688010203">
                                    <p class="alert alert-danger" *ngIf="maestrosForm.controls.Telefono.invalid && maestrosForm.controls.Telefono.touched">El campo "Telefono" es obligatorio.</p>                                                
                                    </div>  
                                    <div class="form-group">
                                            <i class="fa fa-check-circle check" *ngIf="maestrosForm.controls.Correo.valid"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="maestrosForm.controls.Correo.invalid && maestrosForm.controls.Correo.touched"></i>                                
                                            <label for="Correo">Correo Electronico</label>
                                            <input type="text" class="form-control" id="Correo" formControlName="Correo" placeholder="Ej. Correo@ejemplo.com">
                                            <p class="alert alert-danger" *ngIf="maestrosForm.controls.Correo.invalid && maestrosForm.controls.Correo.touched">El campo "Correo Electronico" no es Valido.</p>                                                
                                    </div>  
                                    <div class="form-group">
                                            <i class="fa fa-check-circle check" *ngIf="(maestrosForm.controls.Contra.valid)&&(!(maestrosForm.get(['Contra']).value != maestrosForm.get(['Contra2']).value && maestrosForm.get(['Contra2']).value != null))"></i>
                                            <i class="fa fa-exclamation-circle uncheck" *ngIf="(maestrosForm.controls.Contra.invalid && maestrosForm.controls.Contra.touched) || (maestrosForm.get(['Contra']).value != maestrosForm.get(['Contra2']).value && maestrosForm.get(['Contra2']).value != null)"></i>                                
                                            <label for="contra1">Contraseña</label>
                                            <input type="password" class="form-control" id="contra1" formControlName="Contra" placeholder="minimo 6 caracteres">
                                            <p class="alert alert-danger" *ngIf="maestrosForm.controls.Contra.invalid && maestrosForm.controls.Contra.touched">Minimo 6 Caracteres Requeridos.</p>                                                
                                        </div>  
                                    <div class="form-group">
                                        <i class="fa fa-check-circle check" *ngIf="(maestrosForm.controls.Contra2.valid)&&(!(maestrosForm.get(['Contra']).value != maestrosForm.get(['Contra2']).value && maestrosForm.get(['Contra2']).value != null))"></i>
                                        <i class="fa fa-exclamation-circle uncheck" *ngIf="(maestrosForm.controls.Contra2.invalid && maestrosForm.controls.Contra2.touched) || (maestrosForm.get(['Contra']).value != maestrosForm.get(['Contra2']).value && maestrosForm.get(['Contra2']).value != null)"></i>                                
                                        <label for="contra2">Confirma Contraseña</label>
                                            <input type="password" class="form-control" id="contra2" formControlName="Contra2" placeholder="minimo 6 caracteres">
                                            <p class="alert alert-danger" *ngIf="maestrosForm.controls.Contra2.invalid && maestrosForm.controls.Contra2.touched">Minimo 6 Caracteres Requeridos.</p>                                                
                                        </div> 
                                        <p class="alert alert-danger" *ngIf="maestrosForm.get(['Contra']).value != maestrosForm.get(['Contra2']).value && maestrosForm.get(['Contra2']).value != null">
                                        Contraseñas no Coinciden</p>
                                    <br>
                                    <br>
                                    <p class="alert alert-danger" *ngIf="!maestrosForm.valid">Por favor complete todos los campos</p>
                                    <div class="modal-footer">
        
                                            <button type="button" class="btn btn-success" [disabled]="!maestrosForm.valid" (click)="c('Aceptar')" >Registrar Maestro</button>
                                            <a class="btn btn-danger" routerLink="/maestro" (click)="c('Cancelar')">Cancelar</a>
        
                                        </div>           
                            </form>
                        </div>
                    </div>
        </div>
        </template>


        <!-- <template #content2 let-c="close" let-d="dismiss">
            <div class="modal-header">
            <h4 class="modal-title">Advertencia</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('cerrar')">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            <p>¿Realmente desea dar de baja este Usuario?&hellip;</p>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Cancelar')">Cancelar</button>
            <button type="button" class="btn btn-secondary" (click)="c('Aceptar')">Aceptar</button>          
            </div>
        </template>    -->
        
        
        
        <template #content3 let-c="close" let-d="dismiss">
            <div class="modal-header">
            <h4 class="modal-title">Edición de Maestros</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('cerrar')">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                    <div class="row">
                            <div class="col-md-12">
                                <form [formGroup]="maestroForm" (ngSubmit)="onSubmit()" >
                                    <div class="form-group">
                                        <i class="fa fa-check-circle check" *ngIf="maestroForm.controls.nombre.valid"></i>
                                        <i class="fa fa-exclamation-circle uncheck" *ngIf="maestroForm.controls.nombre.invalid && maestroForm.controls.nombre.touched"></i>                            
                                    <label for="nombre">nombre(s)</label>         
                                    <input type="text" class="form-control" formControlName="nombre" id="nombre"  required>
                                    <p class="alert alert-danger" *ngIf="maestroForm.controls.nombre.invalid && maestroForm.controls.nombre.touched">El campo "nombre" es obligatorio.</p>                                                
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-check-circle check" *ngIf="maestroForm.controls.apellido.valid"></i>
                                        <i class="fa fa-exclamation-circle uncheck" *ngIf="maestroForm.controls.apellido.invalid && maestroForm.controls.apellido.touched"></i>                            
                                    <label for="app">Descripción(s)</label>
                                    <input type="text" class="form-control" formControlName="apellido" id="app" required>
                                    <p class="alert alert-danger" *ngIf="maestroForm.controls.apellido.invalid && maestroForm.controls.apellido.touched">El campo "apellido" es obligatorio.</p>                                                
                                    </div>
                                    <div class="form-group">
                                        <i class="fa fa-check-circle check" *ngIf="maestroForm.controls.id_user.valid"></i>
                                        <i class="fa fa-exclamation-circle uncheck" *ngIf="maestroForm.controls.id_user.invalid && maestroForm.controls.id_user.touched"></i>                                
                                    <label for="id_usuario">Usuario</label>      
                                    <select class="form-control" id="id_usuario" formControlName="id_user">
                                                    <option value="seleccione" disabled="disabled" selected="selected" hidden="hidden">Seleccione</option>
                                                    <option *ngFor="let item of usuarios;" [value]="item.idUsuario"> {{item.Nombre}}</option>
                                    </select>
                                    </div>
                                    <br>
                                    <br>
                                    <p class="alert alert-danger" *ngIf="!maestroForm.valid">Por favor complete todos los campos</p>
                                    <div class="modal-footer">
                                            <button type="button" class="btn btn-success" [disabled]="!maestroForm.valid" (click)="c('Aceptar')" >Guardar cambios</button>
                                            <a class="btn btn-danger" routerLink="/maestro" (click)="c('Cancelar')">Cancelar</a>
                                    </div>           
                                    
                            </form>
                            </div>
                        </div>
            </div>
    </template>
</div>